:root {
    --rad: 8px;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #0fa0bd;
    --height: 60px;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:#dae2e3;
}
header {
    padding: 22px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px -4px 5px 9px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px -4px 5px 9px rgba(0,0,0,0.62);
    box-shadow: 0px -4px 5px 9px rgba(0,0,0,0.25);
}
.cards-container {
    padding: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    -webkit-box-shadow: 12px 12px 9px -5px rgba(0,0,0,0.39);
    -moz-box-shadow: 12px 12px 9px -5px rgba(0,0,0,0.39);
    box-shadow: 12px 12px 9px -5px rgba(0,0,0,0.39);
    /*height: 100px;*/
    background-color: #ffffff;
    border-radius: var(--rad);
}
.info {
    padding: 20px 10px 32px;
}

.info p, hr {
    margin-top: 8px;
}
.img-container {
    height: 80px;
    padding: 10px;
}

.card img {
    width: 100px;
    border-radius: var(--rad);
}

.actions_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 22px;
}

form {
    position: relative;
    background: var(--color-brand);
    border-radius: var(--rad);
}

input, button {
    height: var(--height);
    border: 0;
    color: var(--color-dark);
    font-size: 1.3rem;
}

input[type=search] {
    outline: 0;
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}

button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
}

input:not(:-moz-placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
}

input:not(:-ms-input-placeholder) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
}

input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
}
input:not(:-moz-placeholder-shown) + button {
    display: block;
}
input:not(:-ms-input-placeholder) + button {
    display: block;
}
input:not(:placeholder-shown) + button {
    display: block;
}

label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.select_wrap{
    width: 225px;
    position: relative;
    user-select: none;
    font-size:1.3rem;
    border-radius: var(--rad);
}

.select_wrap .default_option{
    background: #fff;
    height: var(--height);
    border-radius: var(--rad);
    position: relative;
    cursor: pointer;
}

.select_wrap .default_option li{
    padding: 16px;
    list-style-type: none;

}

.select_wrap .default_option:before{
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: .6rem;
    height: .6rem;
    border: 2px solid;
    border-color: transparent transparent #555555 #555555;
    transform: rotate(-45deg);
    transition: all .1s ease-in;
}

.select_wrap .select_ul{
    position: absolute;
    list-style-type: none;
    top: 70px;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: var(--rad);
    display: none;
}

.select_wrap .select_ul li{
    padding: 10px 20px;
    cursor: pointer;
    list-style-type: none;
}

.select_wrap .select_ul li:first-child:hover{
    border-top-left-radius: var(--rad);
    border-top-right-radius: var(--rad);
}

.select_wrap .select_ul li:last-child:hover{
    border-bottom-left-radius: var(--rad);
    border-bottom-right-radius: var(--rad);
}

.select_wrap .select_ul li:hover{
    background: var(--color-brand);
}

.select_wrap .option{
    display: flex;
    align-items: center;
}

.select_wrap.active .select_ul{
    display: block;
}

.select_wrap.active .default_option:before{
    top: 25px;
    transition: all .1s ease-in;
    transform: rotate(-225deg);
}


@media screen and (max-width: 491px)  {
    .card, form {
        flex: 0 1 100%;
        margin-bottom: 5%;
    }
    .cards-container {
        gap: 0;
    }
    .actions_container {
        gap: 0;
    }
    .select_wrap,form {
        width: 100%;
    }
}

@media screen and (min-width: 492px) and (max-width: 667px)  {
    .card {
        flex: 0 1 48.5%;
        margin-bottom: 3%;
    }
    .cards-container,.actions_container {
        gap: 3%;
    }
    .select_wrap,form {
        width: 48.5%;
    }
}

@media screen and (min-width: 668px) and (max-width: 991px)  {
    .card {
        flex: 0 1 31%;
        margin-bottom: 3%;
    }
    .cards-container {
        gap: 3%;
    }
    .actions_container {
        gap: 3%;
    }
    .select_wrap {
        width: 31%;
    }
    form {
        width: 65%;
    }
}

@media screen and (min-width: 992px) {
    .card {
        flex: 0 1 23.5%;
        margin-bottom: 2%;
    }
    .cards-container {
        gap: 2%;
    }
    .actions_container {
        gap: 27.5%;
    }
    .select_wrap {
        width: 23.5%;
    }
    form {
        width: 49%;
    }
}



